{# src/OC/PlatformBundle/Resources/views/Advert/bye_wolrd.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma deuxième page avec OC !</title>
  </head>
  <body>
    <h1>Bye {{ nom }}</h1>

    <p>
      Bye world
    </p>
  </body>
</html>
